<!DOCTYPE html>
<html>
    
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
        <script type="text/javascript" src="http://netdna.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
        <link href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css"
        rel="stylesheet" type="text/css">
        <link href="http://pingendo.github.io/pingendo-bootstrap/themes/default/bootstrap.css"
        rel="stylesheet" type="text/css">
    </head>
    
    <body>
        <div class="cover" style="">
            <div class="navbar">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-ex-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="#"><span>HUMI Taekwondo</span></a>
                    </div>
                    <div class="collapse navbar-collapse" id="navbar-ex-collapse">
                        <ul class="nav navbar-nav navbar-right">
                            <li class="active">
                                <a href="#">Home</a>
                            </li>
                            <li>
                                <a data-target="#modalLogin" data-toggle="modal">Dojo in</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="cover-image" style="background-image : url('img/todosHUMI.png')"
            :=""></div>
        </div>
        <div class="section" style="background-color:black">
            <div class="container">
                <div class="row">
                    <div class="col-md-11">
                        <img src="img/HUMIcompletoBLNACO.png" class="img-responsive">
                    </div>
                </div>
            </div>
        </div>
        <div class="section" style="background-color: black;">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1>
                            <div class="col-md-11 text-center">
                                <h3 class="text-inverse text-justify">Taekwondo &nbsp;
                                    <small>es una combinación de deporte, disciplina, arte marcial y estilo de vida
                                        que ayuda a fortalecer la flexibilidad, cardio, sistema motriz y seguridad&nbsp;&nbsp;</small>&nbsp;HUMI
                                    <small>&nbsp; Taekwondo es un dojo con las mejores instalaciones y servicio en
                                        Ensenada, enfocado en enseñar disciplina y resistencia con el objetivo
                                        de alentar al alumno a conseguir su cinturón negro, avalados por&nbsp;</small>&nbsp;ITOM
                                    <small>&nbsp;Instituto Taekwondo Olímpico de México con más de 105 escuelas y
                                        afiliados a la &nbsp;</small>FMTKD
                                    <small>&nbsp;Federación Mexicana de Taekwondo, miembro del Comite Olímpico Internacional,
                                        así como &nbsp; &nbsp;</small>WTF
                                    <small>&nbsp;World Taekwondo Federation, encargado de regular el deporte.&nbsp;
                                        <span
                                        style="line-height: 1.1;"></span>
                                    </small>
                                </h3>
                                <small></small>
                            </div>
                            <div class="row">
                                <small></small>
                            </div>
                            <div class="section">
                                <div class="container">
                                    <small></small>
                                </div>
                                <small></small>
                            </div>
                            <small></small>
                        </h1>
                        <small></small>
                    </div>
                    <small></small>
                </div>
                <small></small>
            </div>
            <small></small>
        </div>
        <small>
            <div class="modal fade" id="modalLogin">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                            <h4 class="modal-title">HUMI sesión</h4>
                        </div>
                        <div class="modal-body">
                            <form role="form">
                                <div class="form-group">
                                    <label class="control-label" for="inputEmail">Correo electrónico</label>
                                    <input class="form-control" id="inputEmail"
                                    placeholder="Ingresar correo electrónico" type="email">
                                </div>
                                <div class="form-group">
                                    <label class="control-label" for="inputPassword">Contraseña</label>
                                    <input class="form-control" id="inputPassword" placeholder="Ingresar contraseña"
                                    type="password">
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer" style:="">
                            <a class="btn btn-default" data-dismiss="modal">Cancelar</a>
                            <a class="btn btn-primary">Iniciar sesión</a>
                        </div>
                    </div>
                </div>
            </div>
            <footer class="section">
                <div class="container">
                    <div class="row">
                        <div class="col-md-11">
                            <img src="img/banderasAVALAN.png" class="img-responsive">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 col-md-12">
                            <h1>Ubicación</h1>
                            <div class="row">
                                <div class="col-md-3">
                                    <img class="img-responsive" src="http://maps.googleapis.com/maps/api/staticmap?center=31.8707056,-116.6372022&amp;zoom=15&amp;size=200x200&amp;sensor=false&amp;
&amp;markers=color:blue|31.8707056,-116.6372022">
                                </div>
                                <div class="col-md-3">
                                    <h4>Dirección</h4>
                                    <p>Calle Niza #396</p>
                                    <p>Ampliación Moderna,</p>
                                    <p>Ensenada B.C., 22879.</p>
                                </div>
                                <div class="col-md-3">
                                    <h4 class="text-left">Teléfono</h4>
                                    <p class="text-left">(646) 109 3879</p>
                                </div>
                                <div class="col-md-3">
                                    <h4 class="text-left">Redes Sociales</h4>
                                    <div class="col-md-12 text-left">
                                        <a href="https://instagram.com/humitkd/"><i class="fa fa-2x fa-fw fa-instagram pull-left text-warning"></i></a>
                                        <a href="mailto:humi.tkd@gmail.com"><i class="-o fa fa-2x fa-envelope fa-fw hub pull-left text-success"></i></a>
                                        <a href="https://www.facebook.com/pages/HUMI/343999955723462"><i class="fa fa-2x fa-facebook fa-fw pull-left text-primary"></i></a>
                                        <a href="#"><i class="-o fa fa-2x fa-calendar fa-fw hub pull-left text-danger"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
        </small>
    </body>

</html>